/*
  ----------------
  apt
  ----------------
*/
.aptoenq_q {
  background-color: transparent !important;
}

.aptoenq {
  &_question {
    padding-bottom: 30px;
    border-bottom: 1px solid #EEEEEE;
    margin-bottom: 30px;
    @media #{$sp} {
      padding-bottom: 15px;
      margin-bottom: 15px;
    }
  }
  &_red {
    color: red;
  }
  &_qa {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    @media #{$sp} {
      flex-direction: column;
    }
  }
  &_q {
    width: 30%;
    font-weight: 500;
    @media #{$sp} {
      width: 100%;
    }
  }
  &_a {
    width: 65%;
    // display: flex;
    // flex-direction: column;
    @media #{$sp} {
      width: 100%;
    }
    textarea,
    input[type="text"],
    input[type="email"],
    input[type="url"],
    input[type="tel"],
    input[type="checkbox"] {
      font-size: 16px;
      width: 100%;
      padding: 5px 10px;
      border: 1px solid #BBBBBB;
      border-radius: 3px;
      background: #F8F8F8;
      height: 40px;
      margin: 0 10px;
      @media #{$sp} {
        font-size: 16px;
      }
      &::placeholder {
        font-size: 13px;
        font-weight: bold;
        color: #A5A5A5;
      }
    }
    input[type="checkbox"] {
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }
    textarea {
      height: 190px;
      background: #F8F8F8;
      resize: vertical;
      @media #{$sp} {
        height: 100px;
      }
    }
  }
  &_cusinfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    @media #{$sp} {
      flex-direction: column;
    }
    &_item {
      width: 30%;
      margin-bottom: 30px;
      @media #{$sp} {
        width: 100%;
        margin-bottom: 15px;
      }
    }
    &_fm {
      width: 70%;
      margin-bottom: 30px;
      @media #{$sp} {
        width: 100%;
        margin-bottom: 15px;
      }
      textarea,
      input[type="text"],
      input[type="email"],
      input[type="url"],
      input[type="tel"],
      input[type="checkbox"] {
        font-size: 16px;
        width: 100%;
        padding: 5px 10px;
        border: 1px solid #BBBBBB;
        border-radius: 3px;
        background: #F8F8F8;
        height: 40px;
        margin: 0 10px;
        @media #{$sp} {
          font-size: 16px;
        }
        &::placeholder {
          font-size: 13px;
          font-weight: bold;
          color: #A5A5A5;
        }
      }
      input[type="checkbox"] {
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }
      textarea {
        height: 190px;
        background: #F8F8F8;
        resize: vertical;
        @media #{$sp} {
          height: 100px;
        }
      }
    }
    &_exp {
      text-align: center;
      margin: 20px auto;
      a {
        color: blue;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  &_br {
    display: none;
  }
  &_bt_set {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 15px;
  }
  &_bt_send, &_bt_back {
    width: 40%;
    @media #{$sp} {
      width: 85%;
      margin: 0 auto 15px;
    }
    button {
      width: 100%;
      display: block;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      padding: 17px;
      border: 1px solid #FFCC00;
      background: #FFCC00;
      color: #000;
      // position: relative;
      border-radius: 40px;
      margin: 0 auto;
      transition: all .3s;
      @media #{$sp} {
        font-size: 14px;
        padding: 13px;
      }
      // &:before {
      //   content: "";
      //   position: absolute;
      //   top: 0;
      //   bottom: 0;
      //   margin: auto;
      //   right: 30px;
      //   width: 7px;
      //   height: 7px;
      //   border-top: solid 3px #000;
      //   border-right: solid 3px #000;
      //   transform: rotate(45deg);
      //   transition: all .3s;
      //   @media #{$sp} {
      //     right: 20px;
      //   }
      // }
    }
  }
  &_bt_back button {
    background: #ccc;
    border: 1px solid #ccc;
  }
}

.side-form {
  .form__ttl {
    font-size: 17px;
    @media #{$sp} {
      font-size: 14px;
    }
  }
  .aptoenq {
    &_question {
      padding-bottom: 15px;
      border-bottom: 1px solid #EEEEEE;
      margin-bottom: 15px;
    }
    &_red {
      color: red;
    }
    &_qa {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
    }
    &_q {
      width: 100%;
      background-color: transparent;
      font-weight: 500;
    }
    &_a {
      width: 100%;
      label {
        display: block;
      }
      textarea,
      input[type="text"],
      input[type="email"],
      input[type="url"],
      input[type="tel"],
      input[type="checkbox"] {
        font-size: 16px;
        width: 100%;
        padding: 5px 10px;
        border: 1px solid #BBBBBB;
        border-radius: 3px;
        background: #F8F8F8;
        height: 40px;
        margin: 0 10px;
        @media #{$sp} {
          font-size: 16px;
        }
        &::placeholder {
          font-size: 13px;
          font-weight: bold;
          color: #A5A5A5;
        }
      }
      input[type="checkbox"] {
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }
      textarea {
        height: 100px;
        background: #F8F8F8;
        resize: vertical;
      }
    }
    &_cusinfo {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      &_item {
        width: 100%;
        margin-bottom: 15px;
      }
      &_fm {
        width: 100%;
        margin-bottom: 15px;
        textarea,
        input[type="text"],
        input[type="email"],
        input[type="url"],
        input[type="tel"],
        input[type="checkbox"] {
          font-size: 16px;
          width: 100%;
          padding: 5px 10px;
          border: 1px solid #BBBBBB;
          border-radius: 3px;
          background: #F8F8F8;
          height: 40px;
          margin: 0 10px;
          @media #{$sp} {
            font-size: 16px;
          }
          &::placeholder {
            font-size: 13px;
            font-weight: bold;
            color: #A5A5A5;
          }
        }
        input[type="checkbox"] {
          width: 20px;
          height: 20px;
          margin-right: 10px;
        }
        textarea {
          height: 100px;
          background: #F8F8F8;
          resize: vertical;
        }
      }
      &_exp {
        text-align: center;
        margin: 20px auto;
      }
    }
    &_br {
      display: none;
    }
    &_bt_set {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      gap: 15px;
    }
    &_bt_send, &_bt_back {
      width: 85%;
      margin: 0 auto 15px;
      button {
        width: 100%;
        display: block;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        padding: 17px;
        border: 1px solid #FFCC00;
        background: #FFCC00;
        color: #000;
        border-radius: 40px;
        margin: 0 auto;
        transition: all .3s;
        @media #{$sp} {
          font-size: 14px;
          padding: 13px;
        }
      }
    }
    &_bt_back button {
      background: #ccc;
      border: 1px solid #ccc;
    }
  }
}

.estimate .aptoenq_cusinfo,
.contact .aptoenq_cusinfo,
.demo .aptoenq_cusinfo {
  display: block;
}

.side-form .aptoenq_cusinfo_exp {
  width: 320px;
}

/*popup*/
.aptoenq_popup {
  line-height: 1.6;
  color: #333;
}

.aptoenq_popup_title,
.aptoenq_popup * {
  font-family: 'Noto Sans JP','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','游ゴシック','Yu Gothic','游ゴシック体','YuGothic','ＭＳ Ｐゴシック','MS PGothic',sans-serif;
  font-size: 16px!important;
  @media #{$sp} {
    font-size: 14px!important;
  }
}

.aptoenq_grayout {
  background-color: #333;
  filter: alpha(opacity=30);
  -moz-opacity: 0.30;
  opacity: 0.30;
}

.aptoenq_popup_title {
  font-weight: bold;
  font-size: 20px!important;
  background: #F9F9F9;
  padding: 15px 20px;
  border-radius: 5px 5px 0 0;
}

.aptoenq_popup {
  border-top: 1px solid #ccc;
  background-color: #FFF;
  padding: 15px 80px;
  border-radius: 0 0 5px 5px;
}

.aptoenq_popup_title, .aptoenq_popup {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  min-width: 750px;
  @media #{$sp} {
    min-width: 300px;
  }
}
.aptoenq_msg{
  font-size: 16px;
  font-family: 'Noto Sans JP','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','游ゴシック','Yu Gothic','游ゴシック体','YuGothic','ＭＳ Ｐゴシック','MS PGothic',sans-serif;
}

/*基本色設定*/
.aptoenq_qa {
  color: #333;
}

.aptoenq_qa a{
	color: white;
	text-decoration: underline;
}

.aptoenq_cusinfo {
  color: #333;
  background: #FFF;
}
.aptoenq_q {
  border-color: #ccc;
  background-color: #F9F9F9;
}
.aptoenq_cusinfo .aptoenq_cusinfo_subj {
  border-left-color: #ccc;
}


/* iframe幅。popup画面の幅に反映。*/
#aptoenq_confirm iframe {
  width: 100%;
  overflow: hidden;
  border: none;
}

/* ダウンロード認証用ダイアログの閉じるボタン位置*/
#aptoenq_notAns {
    position: absolute;
    float: right;
    top: -90px;
    padding: 0.5rem 0.75rem;
    background: none;
    box-shadow: none;
    font-size: 1.5rem !important;
}
#aptoenq_closeDialog {
    margin-left: 0.5rem;
}
#aptoenq_confirm_displayArea {
    white-space: normal;
    word-break: break-all;
}

div#aptoenqform.fontL {font-size: 16px!important;}
div#aptoenqform.fontM {font-size: 14px!important;}
div#aptoenqform.fontS {font-size: 12px!important;}

/*追加*/
#aptoenqform{
	width: 95%;
	margin: 20px auto;
}

#enqform1{
	width: 95%;
	margin: 20px auto;
}

.aptoenq_inlineblock{
	display: inline-block;
}

.questionTitle{
	padding: 3px;
}

#aptoenq_address_auto{
	display: none;
}

label{
	display: inline-block;
}

#aptoenq_displayarea .aptoenq {
  margin-bottom: 40px;
}

#aptoenq_displayarea .aptoenq_cusinfo_item,
#aptoenq_displayarea .aptoenq_cusinfo_fm {
  padding: 10px;
}

#aptoenq_displayarea .aptoenq_bt_set {
  margin-top: 40px;
}