/*
  ----------------
  pagination
  ----------------
*/

.pagination {
  margin-top: 70px;
  @media #{$sp} {
    margin-top: 30px;
  }
  .screen-reader-text {
    display: none;
  }
  .nav-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    .page-numbers {
      width: 40px;
      height: 40px;
      text-align: center;
      font-size: 16px;
      border-radius: 50%;
      background: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      @media #{$sp} {
        width: 30px;
        height: 30px;
        font-size: 14px;
      }
      &:hover {
        opacity: 1;
        color: #fff;
        background: #000;
      }
      &.prev {
        margin-right: 20px;
        width: auto;
        height: auto;
        position: relative;
        @media #{$sp} {
          margin-right: 15px;
        }
        &::before {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          width: 16px;
          height: 16px;
          background: url("../img/common/prev.svg") 50% / contain no-repeat;
        }
      }
      &.next {
        margin-left: 20px;
        width: auto;
        height: auto;
        position: relative;
        @media #{$sp} {
          margin-left: 15px;
        }
        &::before {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          width: 16px;
          height: 16px;
          background: url("../img/common/next.svg") 50% / contain no-repeat;
        }
      }
      &.current {
        color: #fff;
        background: #000;
      }
    }
  }
}