/*
  ----------------
  sitemap
  ----------------
*/

.sitemap {

  .hero-m {
    background: url("../img/sitemap/bg-hero.webp") 50% / cover no-repeat;
  }

  .gap60 {
    gap: 70px 12%;
    @media #{$sp} {
      gap: 15px;
    }
  }

  .group {
    // width: calc(100% / 4);
    @media #{$sp} {
      width: 100%;
    }
    &__ttl {
      font-size: 20px;
      font-weight: bold;
      line-height: 1.5;
      margin-bottom: 20px;
      @media #{$sp} {
        font-size: 16px;
        margin-bottom: 15px;
      }
    }
    &__list {
      padding-left: 1.5em;
      li {
        list-style: disc;
        a {
          &:hover {
            opacity: 1;
            text-decoration: underline;
          }
          &.blank {
            position: relative;
            &::before {
              content: "";
              position: absolute;
              top: 0;
              bottom: 0;
              right: -1.5em;
              margin: auto;
              width: 12px;
              height: 12px;
              background: url("../img/common/blank.svg") 50% / contain no-repeat;
            }
          }
        }
        &:not(:last-child) {
          margin-bottom: 10px;
          @media #{$sp} {
            margin-bottom: 5px;
          }
        }
      }
    }
  }

}

