/*
  ----------------
  thanks
  ----------------
*/

.thanks {

  .containers {
    padding: 90px 30px;
    @media #{$sp} {
      padding: 45px 15px;
    }
  }

  .ttl-primary-lower {
    font-size: 35px;
    color: #000;
    @media #{$sp} {
      font-size: 20px;
    }
  }

  .lead {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 70px;
    @media #{$sp} {
      font-size: 14px;
      margin-bottom: 40px;
    }
  }

  .more {
    background: #fff;
    &:hover {
      background: #0f218b;
    }
  }

}

