{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# Custom tags before </head> #}
{% block customHead %}
{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}  
{% endblock %}

{# Main content #}
{% block content %}

<main class="bg-G">

  <section class="arc-news">
    <div class="containers flex">

      <!-- 投稿記事詳細メイン -->
      <article class="main-conts single">

        <h1 class="ttl-secondary non">お知らせ</h1>
        
        <div class="item">

          <a href="#" class="item__box">
            <div class="flex gap20 fS aiC inherit item__box--date">
              <time class="time">2021.3.8</time>
              <span class="cat">お知らせ/ニュース</span>
            </div>
            <summary class="item__box--ttl"><h3>お知らせタイトルが入ります。お知らせタイトルが入ります。お知らせタイトルが入ります。お知らせタイトルが入ります。お知らせタイトルが入ります。お知らせタイトルが入ります。お知らせタイトルが入ります。</h3></summary>
          </a>
  
          <a href="#" class="item__box">
            <div class="flex gap20 fS aiC inherit item__box--date">
              <time class="time">2021.3.8</time>
              <span class="cat">お知らせ/ニュース</span>
            </div>
            <summary class="item__box--ttl"><h3>お知らせタイトルが入ります。お知らせタイトルが入ります。お知らせタイトルが入ります。お知らせタイトルが入ります。お知らせタイトルが入ります。お知らせタイトルが入ります。お知らせタイトルが入ります。</h3></summary>
          </a>
  
          <a href="#" class="item__box">
            <div class="flex gap20 fS aiC inherit item__box--date">
              <time class="time">2021.3.8</time>
              <span class="cat">お知らせ/ニュース</span>
            </div>
            <summary class="item__box--ttl"><h3>お知らせタイトルが入ります。お知らせタイトルが入ります。お知らせタイトルが入ります。お知らせタイトルが入ります。お知らせタイトルが入ります。お知らせタイトルが入ります。お知らせタイトルが入ります。</h3></summary>
          </a>
  
          <a href="#" class="item__box">
            <div class="flex gap20 fS aiC inherit item__box--date">
              <time class="time">2021.3.8</time>
              <span class="cat">お知らせ/ニュース</span>
            </div>
            <summary class="item__box--ttl"><h3>お知らせタイトルが入ります。お知らせタイトルが入ります。お知らせタイトルが入ります。お知らせタイトルが入ります。お知らせタイトルが入ります。お知らせタイトルが入ります。お知らせタイトルが入ります。</h3></summary>
          </a>
  
          <a href="#" class="item__box">
            <div class="flex gap20 fS aiC inherit item__box--date">
              <time class="time">2021.3.8</time>
              <span class="cat">お知らせ/ニュース</span>
            </div>
            <summary class="item__box--ttl"><h3>お知らせタイトルが入ります。お知らせタイトルが入ります。お知らせタイトルが入ります。お知らせタイトルが入ります。お知らせタイトルが入ります。お知らせタイトルが入ります。お知らせタイトルが入ります。</h3></summary>
          </a>
          
        </div>

        <nav class="pagination">
          <div class="nav-links">
            <a class="prev page-numbers" href="#"><span></span></a>
            <a class="page-numbers" href="#">1</a>
            <span class="page-numbers current">2</span>
            <a class="page-numbers" href="#">3</a>
            <a class="page-numbers" href="#">4</a>
            <a class="page-numbers" href="#">5</a>
            <a class="next page-numbers" href="#"><span></span></a>
          </div>
        </nav>

      </article>

      <!-- サイドメニュー -->
      <aside class="side-nav">

        <div class="catSearch">
          <h3 class="ttl-tertiary">カテゴリで探す</h3>
          <ul class="catSearch__list">
            <li><a href="#">カテゴリ名が入ります</a></li>
            <li><a href="#">カテゴリ名が入ります</a></li>
            <li><a href="#">カテゴリ名が入ります</a></li>
            <li><a href="#">カテゴリ名が入ります</a></li>
          </ul>
        </div>

        <div class="sticky">
          <a href="/contact/" class="bnr-contact"><img src="/assets/img/common/bnr-contact.png" alt=""></a>
        </div>

      </aside>
      
    </div>
  </section>

  <section class="breadcrumb">
    <div class="containers">
      <ul class="flex fS">
        <li><a href="/">トップ</a></li>
        <li>お知らせ</li>
      </ul>
    </div>
  </section>

</main>

{% endblock %}