{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# Custom tags before </head> #}
{% block customHead %}
{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}  
{% endblock %}

{# Main content #}
{% block content %}

<main class="company">

  <section class="hero-m core small">
    <div class="containers">
      <div class="hero-m__box">
        <h1 class="ttl-primary-lower">会社情報</h1>
      </div>
    </div>
  </section>

  <section class="intro">
    <div class="containers">
      <h2 class="ttl-secondary">駿河精機株式会社の歴史</h2>
      <div>駿河精機は1964年の創業より、光学機器市場で競争力の高い製品を提供し続けています。<br class="pc-only">
        急速に発展するスマートフォン・タブレットなどのモバイル機器や、光通信、半導体、車載用センサ等の業種において、<br class="pc-only">
        駿河精機のテクノロジーが欠かせない存在となっています。<br class="pc-only">
        近年では、コアテクノロジーをさらに発展させたアプリケーションで、<br class="pc-only">
        ヨーロッパ・アメリカ・アジア諸国など、海外市場にも進出しています。 </div>
    </div>
  </section>

  <section class="history">
    <div class="containers">
      <h2 class="ttl-secondary">会社概要</h2>
      <dl class="flex fS history__desc">
        <dt>社名</dt>
        <dd>駿河精機株式会社</dd>
        <dt>代表者</dt>
        <dd>代表取締役社長　渡邊　宣公</dd>
        <dt>本社</dt>
        <dd>〒424-8566<br>
          静岡県静岡市清水区七ツ新屋505 <a href="https://www.google.com/maps/place/%E3%80%92424-0066+%E9%9D%99%E5%B2%A1%E7%9C%8C%E9%9D%99%E5%B2%A1%E5%B8%82%E6%B8%85%E6%B0%B4%E5%8C%BA%E6%B8%85%E6%B0%B4%E5%8C%BA%E4%B8%83%E3%83%84%E6%96%B0%E5%B1%8B%EF%BC%95%EF%BC%90%EF%BC%95/@35.0134887,138.4489565,17z/data=!4m6!3m5!1s0x601a343b00e9d4bb:0x1576a7a830021b98!8m2!3d35.0135502!4d138.4514778!16s%2Fg%2F11styh4xh5?entry=ttu" target="_blank" rel="noopener noreferrer">Map</a><br>
          Tel.054-344-0332　Fax.054-346-1196</dd>
        <dt>東京営業所</dt>
        <dd>〒105-0011<br>
          東京都港区芝公園2-4-1 芝パークビルB館6F <a href="https://www.google.com/maps/place/%E3%80%92105-0011+%E6%9D%B1%E4%BA%AC%E9%83%BD%E6%B8%AF%E5%8C%BA%E8%8A%9D%E5%85%AC%E5%9C%92%EF%BC%92%E4%B8%81%E7%9B%AE%EF%BC%94%E2%88%92%EF%BC%91+%E8%8A%9D%E3%83%91%E3%83%BC%E3%82%AF%E3%83%93%E3%83%AB+B%E9%A4%A86F/@35.6553247,139.7498991,17z/data=!4m5!3m4!1s0x60188bb8834ace29:0x3c1ee1fe7d03c6e8!8m2!3d35.6557268!4d139.7521826?entry=ttu" target="_blank" rel="noopener noreferrer">Map</a><br>
          Tel.03-6403-4512　Fax.03-6403-4514</dd>
        <dt>関西営業所</dt>
        <dd>〒532－0011<br>
          大阪府大阪市淀川区西中島7-5-25 新大阪ドイビル4F <a href="https://www.google.com/maps/place/%E3%80%92532-0011+%E5%A4%A7%E9%98%AA%E5%BA%9C%E5%A4%A7%E9%98%AA%E5%B8%82%E6%B7%80%E5%B7%9D%E5%8C%BA%E8%A5%BF%E4%B8%AD%E5%B3%B6%EF%BC%97%E4%B8%81%E7%9B%AE%EF%BC%95%E2%88%92%EF%BC%92%EF%BC%95+%E6%96%B0%E5%A4%A7%E9%98%AA%E3%83%89%E3%82%A4%E3%83%93%E3%83%AB+4f/@34.7309345,135.4958851,17z/data=!4m5!3m4!1s0x6000e43a18313717:0x436ea4dd20e4635!8m2!3d34.7310932!4d135.4979558?entry=ttu" target="_blank" rel="noopener noreferrer">Map</a><br>
          Tel.06-4862-7766　Fax.06-4862-7767</dd>
        <dt>創立</dt>
        <dd>1964年5月8日</dd>
        <dt>事業概要</dt>
        <dd>電気、電子、通信及び産業用機械、装置の開発・製造及び販売<br>
          映像及び光学機器の開発・製造及び販売<br>
          産業機械用部品の開発・製造及び販売<br>
          上記に付帯する一切の業務</dd>
      </dl>
    </div>
  </section>

  <section class="breadcrumb">
    <div class="containers">
      <ul class="flex fS">
        <li><a href="/">トップ</a></li>
        <li>会社概要</li>
      </ul>
    </div>
  </section>

</main>

{% endblock %}